/* 
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; 
*/
body {
  font-size: 15px;
  background-color: hsl(0, 0%, 95%);
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  font-size: 45px;
}
p {
  color: hsla(0, 0%, 100%, 0.65);
  font-family: "Lexend Deca", sans-serif;
  margin: 30px 0px;
  font-size: medium;
}
button {
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  font-size: medium;
}

.flex-container {
  margin: 50px 0;
  padding: 20px;
}

.card {
  padding: 50px;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.sedans > button {
  color: hsl(31, 77%, 52%);
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.suvs > button {
  color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.luxury > button {
  color: hsl(179, 100%, 13%);
}
button:hover {
  background: transparent;
  border: 3px solid hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
